{% load static %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
    <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
        <div class="modal-content bg-dark">
            <div class="modal-body">
                <!-- Text -->
                <p class="text-sm text-white mb-3">
                    Diese Website benutzt Cookies. Wenn Sie die Website weiter nutzen, gehen wir von Ihrem Einverständnis aus.
                </p>
                <!-- Buttons -->
                <a href="#" class="btn btn-sm btn-neutral" target="_blank">Mehr erfahren</a>
                <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">Okay!</button>
            </div>
        </div>
    </div>
</div>