<!-- Alert -->
<div class="alert zindex-100 alert-group alert-outline-primary alert-icon shadow-primary-sm mb-5" role="alert">
    <div class="alert-group-prepend">
            <span class="alert-group-icon text-">
                <i data-feather="info"></i>
            </span>
    </div>
    <div class="alert-content">
        <strong>Derzeit sind Termine nur online per Skype oder WhatsApp im Videochat möglich.</strong> Besondere
        Situationen erfordern kreative Lösungen!
    </div>
</div>