<section class="slice">
    <!-- Container -->
    <div class="container border-bottom pb-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h2 class="h5">Clever und entspannt lernen</h2>
                <p class="font-size-lg text-muted mb-0 text-center">
                    Wenn wir alles täten, wozu wir imstande sind, würden wir uns wahrscheinlich in Erstaunen versetzen. (Thomas Alva Edison)
                </p>
                <div class="mt-4 noprint">
{#                    <a href="docs/index.html" class="btn btn-neutral btn-icon my-2">#}
{#                        <span class="btn-inner--icon">#}
{#                            <i data-feather="book" class="text-primary"></i>#}
{#                        </span>#}
{#                        <span class="btn-inner--text">Methoden des erfolgreichen Lernens</span>#}
{#                    </a>#}
                    <a href="{% url 'content:contact' %}" class="btn btn-primary my-2">
                Kontakt
            </a>
                </div>
            </div>
        </div>
    </div>
</section>