<div class="card bg-primary text-white">
    <div class="card-header py-4" id="heading-1-{{ number }}" data-toggle="collapse" role="button"
         data-target="#collapse-1-{{ number }}" aria-expanded="false" aria-controls="collapse-1-{{ number }}">
        <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>{{ name }}</h2>
    </div>
    <div id="collapse-1-{{ number }}" class="collapse" aria-labelledby="heading-1-{{ number }}"
         data-parent="#accordion-1">
        <div class="card-body">
            <p class="text-white">
                {{ text }}
            </p>
        </div>
    </div>
</div>