<!-- Topbar -->
{% load static %}
<div id="navbar-top-main" class="navbar-top py-1 navbar-light bg-light navbar-border p-0">
    <div class="container">
        <div class="navbar-nav align-items-center">
            <div class="">
                <a href="{% url 'content:index' %}" class="navbar-text text-white text-sm mr-3">Lerncoaching &amp; Entspannung - Susanne Sölch</a>
            </div>
            <div class="ml-auto d-none d-sm-inline-block">
                <ul class="nav">
                    <li class="nav-item dropdown ml-lg-2">
                        <a class="nav-link px-0 text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10">
                            <span>München</span>
                        </a>
                        <div class="mr-auto dropdown-menu dropdown-menu-sm">
                            <address class="px-2 m-0">
                                <ul class="list-unstyled">
                                    <li><strong>Clever &amp; entspannt lernen</strong></li>
                                    <li>Susanne Sölch</li>
                                    <li>Erika-Cremer-Str. 11</li>
                                    <li>81829 München</li>
                                </ul>
                            </address>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>  