<!DOCTYPE html>
{% load static %}
<html lang="de">

<head>
    {% include 'partials/head.html' %}
    <title>Kundenstimmen</title>
    <meta content="Kundenstimmen" property="og:title">
</head>

<body>
{% include 'partials/preloader.html' %}
<!-- Header -->
<header class="header-transparent" id="header-main">
    {% include 'partials/topbar.html' %}
    {% include 'partials/navbar.html' %}
</header>
<!-- Main content -->
<section class="slice py-6 pt-lg-7 pb-lg-8 bg-primary">
    <div data-offset-top="#navbar-main" style="padding-top: 60px;">
        <!-- Container -->
        <div class="container d-flex align-items-center text-center text-lg-left">
            <div class="col px-0">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-6">
                        <!-- Heading -->
                        <h1 class="h1 text-white text-center text-lg-left my-4">
                            Wem und wie <strong class="text-warning">Lerncoaching</strong> geholfen hat
                        </h1>
                        <!-- Text -->
                        <p class="lead text-white text-center text-lg-left opacity-8">
                            Schauen Sie sich um und erfahren Sie welche Veränderung durch effizienteres Lernen möglich
                            sind.
                        </p>
                        <!-- Buttons -->
                        <div class="mt-5 text-center text-lg-left">
                            <a href="#start" data-scroll-to class="btn btn-light btn-lg btn-icon">
                                <span class="btn-inner--text">Referenzen ansehen</span>
                                <span class="btn-inner--icon">
                                        <i data-feather="arrow-right"></i>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-bottom noprint">
        <img alt="Image placeholder" src="{% static 'img/svg/separators/line.svg' %}" class="svg-inject">
    </div>
</section>
<section class="slice slice-lg pt-8 bg-white" id="start">
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse noprint">
        <img alt="Image placeholder" src="{% static 'img/svg/separators/line.svg' %}" class="svg-inject">
    </div>
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div id="accordion-1" class="accordion accordion-spaced">
                    <!-- Accordion card 1 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-1" data-toggle="collapse" role="button"
                             data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Pauline</h2>
                        </div>
                        <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Durch das Coaching haben sich nicht nur meine schulischen Leistungen verändert,
                                    sondern auch in meinem Sport bin ich durch die Tipps erfolgreicher geworden.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 2 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-2" data-toggle="collapse" role="button"
                             data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Schüler aus der 5.
                                Klasse</h2>
                        </div>
                        <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe gelernt, dass man sich Sachen gut merken kann, in dem man für diese Wörter
                                    Schlüsselwörter findet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 3 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-3" data-toggle="collapse" role="button"
                             data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Omar</h2>
                        </div>
                        <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe heute gelernt, wie man besser lernen kann
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 4 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-4" data-toggle="collapse" role="button"
                             data-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Svat</h2>
                        </div>
                        <div id="collapse-1-4" class="collapse" aria-labelledby="heading-1-4"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe heute gelernt, dass man Lust haben muss um lernen zu können
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 5 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-5" data-toggle="collapse" role="button"
                             data-target="#collapse-1-5" aria-expanded="false" aria-controls="collapse-1-5">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Sophie</h2>
                        </div>
                        <div id="collapse-1-5" class="collapse" aria-labelledby="heading-1-5"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe jetzt manchmal ein besseres Gefühl beim lernen! Mir macht das Lernen jetzt
                                    manchmal auch Spaß
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 6 -->
                    {% comment %}
                        <div class="card bg-primary text-white">
                            <div class="card-header py-4" id="heading-1-6" data-toggle="collapse" role="button" data-target="#collapse-1-6" aria-expanded="false" aria-controls="collapse-1-6">
                                <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Name nicht angegeben</h2>
                            </div>
                            <div id="collapse-1-6" class="collapse" aria-labelledby="heading-1-6" data-parent="#accordion-1">
                                <div class="card-body">
                                    <p class="text-white">
                                        Mir hat es allgemein sehr gut gefallen. Es hat mir auch sehr geholfen, weil man es auch spielerisch gelernt hat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                    <!-- Accordion card 7 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-7" data-toggle="collapse" role="button"
                             data-target="#collapse-1-7" aria-expanded="false" aria-controls="collapse-1-2">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Eine Mama</h2>
                        </div>
                        <div id="collapse-1-7" class="collapse" aria-labelledby="heading-1-7"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Mein Sohn hat seine Einstellung zum Lernen verändert und ist selbstbewusster
                                    geworden.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 8 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-8" data-toggle="collapse" role="button"
                             data-target="#collapse-1-8" aria-expanded="false" aria-controls="collapse-1-8">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Name nicht angegeben
                            </h2>
                        </div>
                        <div id="collapse-1-8" class="collapse" aria-labelledby="heading-1-8"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Mir hat es allgemein sehr gut gefallen. Es hat mir auch sehr geholfen, weil man es
                                    auch spielerisch gelernt hat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 9 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-9" data-toggle="collapse" role="button"
                             data-target="#collapse-1-9" aria-expanded="false" aria-controls="collapse-1-9">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Marcel</h2>
                        </div>
                        <div id="collapse-1-9" class="collapse" aria-labelledby="heading-1-9"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich möchte mich bei dir bedanken, weil ich eine 1 in Mathe und eine 2 in Deutsch
                                    geschrieben habe. Der Lehrer hat mich vor der ganzen Klasse gelobt!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Neu -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-10" data-toggle="collapse" role="button"
                             data-target="#collapse-1-10" aria-expanded="false" aria-controls="collapse-1-10">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Lina</h2>
                        </div>
                        <div id="collapse-1-10" class="collapse" aria-labelledby="heading-1-10"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Du bekommst von mir 5 Punkte von 5 Punkten.
                                    Es hat mir sehr gut gefallen und ich habe viele tolle Lernstrategien gelernt.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-11" data-toggle="collapse" role="button"
                             data-target="#collapse-1-11" aria-expanded="false" aria-controls="collapse-1-11">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Mama von Emma</h2>
                        </div>
                        <div id="collapse-1-11" class="collapse" aria-labelledby="heading-1-11"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Emma hat nach dem Coaching gleich eine 2 in Mathe geschrieben. Danke!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-12" data-toggle="collapse" role="button"
                             data-target="#collapse-1-12" aria-expanded="false" aria-controls="collapse-1-12">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Julia</h2>
                        </div>
                        <div id="collapse-1-12" class="collapse" aria-labelledby="heading-1-9"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Es hat mir gut gefallen. Habe tolle Lernstrategien gelernt. Die Loci-Methode hat mir
                                    am besten gefallen.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-13" data-toggle="collapse" role="button"
                             data-target="#collapse-1-13" aria-expanded="false" aria-controls="collapse-1-13">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Moritz</h2>
                        </div>
                        <div id="collapse-1-13" class="collapse" aria-labelledby="heading-1-13"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe viele Tipps bekommen: die Loci-Methode, Lernstrategien und wie ich mich
                                    besser konzentrieren kann.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-14" data-toggle="collapse" role="button"
                             data-target="#collapse-1-14" aria-expanded="false" aria-controls="collapse-1-14">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Mama von Julia</h2>
                        </div>
                        <div id="collapse-1-14" class="collapse" aria-labelledby="heading-1-14"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Seit dem Kurs „Lernen lernen“ lernt Julia ganz selbstständig und ist auch viel
                                    motivierter beim Lernen.
                                    Vielen lieben Dank dafür!!!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-15" data-toggle="collapse" role="button"
                             data-target="#collapse-1-15" aria-expanded="false" aria-controls="collapse-1-15">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Antonio</h2>
                        </div>
                        <div id="collapse-1-15" class="collapse" aria-labelledby="heading-1-15"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe gute Strategien und Hilfe bekommen. Zum Weiterempfehlen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-16" data-toggle="collapse" role="button"
                             data-target="#collapse-1-16" aria-expanded="false" aria-controls="collapse-1-16">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Antonio</h2>
                        </div>
                        <div id="collapse-1-16" class="collapse" aria-labelledby="heading-1-16"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Nette Lehrerin. Jetzt schreibe ich gute Noten.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-17" data-toggle="collapse" role="button"
                             data-target="#collapse-1-17" aria-expanded="false" aria-controls="collapse-1-17">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Muhamed</h2>
                        </div>
                        <div id="collapse-1-17" class="collapse" aria-labelledby="heading-1-17"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich bin viel besser in der Schule!!! Es hat mir sehr gut gefallen.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-1-18" data-toggle="collapse" role="button"
                             data-target="#collapse-1-18" aria-expanded="false" aria-controls="collapse-1-18">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Kein Name angegeben</h2>
                        </div>
                        <div id="collapse-1-18" class="collapse" aria-labelledby="heading-1-18"
                             data-parent="#accordion-1">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe gelernt, dass Lernen auch Spaß machen kann
                                </p>
                            </div>
                        </div>
                    </div>

                    {% include 'partials/review-1.html' with number=19 name="Yaward, 4. Klasse" text="Dein Kurs „Lernen lernen“ hat mir sehr gut gefallen. Ich haben tolle Lernstrategien gelernt und was unser Gehirn zum Lernen braucht, z.B. Immer wieder mal eine Pause machen." %}
                    {% include 'partials/review-1.html' with number=20 name="Beake 4. Klasse" text="Es hat mir in deinem Kurs „Lernen lernen“ sehr gut gefallen und ich habe tolle Lernstrategien und Lernspiele gelernt." %}
                    {% include 'partials/review-1.html' with number=21 name="Bastian, 4. Klasse" text="Der Kurs „Lernen lernen“ war richtig Cool und hat mir sehr viel Spaß gemacht." %}
                    {% include 'partials/review-1.html' with number=22 name="Hisham, 4. Klasse" text="Dein Kurs hat mir sehr viel Spaß gemacht." %}
                    {% include 'partials/review-1.html' with number=23 name="Dein Delshad" text="Danke, dass du mir geholfen hast." %}
                    {% include 'partials/review-1.html' with number=24 name="Marcel 4. Klasse" text="Danke für die 1 in Mathe und die 2 in Deutsch. Ich fühle mich mega!" %}
                    {% include 'partials/review-1.html' with number=25 name="Eine Mutter eines Kursteilnehmers „Kurs Lernen lernen“" text="Meinem Sohn hat es viel Spaß gemacht." %}
                </div>
            </div>
            <div class="col-xl-6">
                <div id="accordion-2" class="accordion accordion-spaced">
                    <!-- Accordion card 1 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button"
                             data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Hamza</h2>
                        </div>
                        <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Durch deinen Kurs habe ich mehr Selbstvertrauen und Freude am Lernen. Mir hat der
                                    Kurs gefallen und Spaß gemacht. Vielen Dank!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 2 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button"
                             data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Eine Mama</h2>
                        </div>
                        <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Das Bewusstsein für Schule und Lernen hat sich verändert. Die Kinder lernen anders
                                    für die Prüfungen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 3 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button"
                             data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Von einer Mama</h2>
                        </div>
                        <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Danke! Es tut gut zu hören, dass ziemlich vieles am (Lern)Verhalten von meinem Kind
                                    NORMAL ist. Danke für viele Beispiele aus Ihrem eigenen Leben ! Es motiviert sehr.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 4 -->
                    {% comment %}
                        <div class="card bg-primary text-white">
                            <div class="card-header py-4" id="heading-2-4" data-toggle="collapse" role="button" data-target="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-2">
                                <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Eine Mama</h2>
                            </div>
                            <div id="collapse-2-4" class="collapse" aria-labelledby="heading-2-4" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p class="text-white">
                                        Mein Sohn hat vieles gelernt finde ich. Ich sehe Veränderungen. Ich bin sehr dankbar, dass mein Sohn mitmachen durfte. Danke
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                    <!-- Accordion card 5 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-5" data-toggle="collapse" role="button"
                             data-target="#collapse-2-5" aria-expanded="false" aria-controls="collapse-2-3">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Eine Mama</h2>
                        </div>
                        <div id="collapse-2-5" class="collapse" aria-labelledby="heading-2-5"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Mein Sohn hat vieles gelernt finde ich. Ich sehe Veränderungen. Ich bin sehr
                                    dankbar, dass mein Sohn mitmachen durfte. Danke
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 6 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-6" data-toggle="collapse" role="button"
                             data-target="#collapse-2-6" aria-expanded="false" aria-controls="collapse-2-3">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Eltern</h2>
                        </div>
                        <div id="collapse-2-6" class="collapse" aria-labelledby="heading-2-6"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Unseren Kindern hat es sehr gut gefallen. Sie sind immer mit Freude und Spannung zu
                                    ihnen gekommen. Das Lernen lernen hat ihnen Spaß gemacht. Vielen Dank!!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 7 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-7" data-toggle="collapse" role="button"
                             data-target="#collapse-2-7" aria-expanded="false" aria-controls="collapse-2-3">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Neda</h2>
                        </div>
                        <div id="collapse-2-7" class="collapse" aria-labelledby="heading-2-7"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Vielen Dank für die wunderschöne Zeit. Ich habe sehr viel dazugelernt und natürlich
                                    hatte ich auch viel Spaß. Hoffentlich machst du weiterhin "Lernen lernen", da es
                                    sehr
                                    viel weiterhilft.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 8 -->
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-8" data-toggle="collapse" role="button"
                             data-target="#collapse-2-8" aria-expanded="false" aria-controls="collapse-2-3">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Martina</h2>
                        </div>
                        <div id="collapse-2-8" class="collapse" aria-labelledby="heading-2-8"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Danke! Du hast mir Mut gemacht. Ich habe jetzt sogar Lust und werde deine Strategien
                                    mit in die 6. Klassen nehmen. Danke für alles. Es hat sehr viel Spaß gemacht. Danke
                                    für alles! Du warst meine Lieblingslehrerin
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-9" data-toggle="collapse" role="button"
                             data-target="#collapse-2-9" aria-expanded="false" aria-controls="collapse-2-9">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Shayan</h2>
                        </div>
                        <div id="collapse-2-9" class="collapse" aria-labelledby="heading-1-9"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe alles verstanden. Es macht Spaß. Es ist lustig.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-10" data-toggle="collapse" role="button"
                             data-target="#collapse-2-10" aria-expanded="false" aria-controls="collapse-2-10">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Mama von Lucia und
                                Ruben</h2>
                        </div>
                        <div id="collapse-2-10" class="collapse" aria-labelledby="heading-2-10"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Liebe Susi!
                                    Ich kann im Voraus schon sagen die Kids waren mehr als begeistert von Ihnen und
                                    Ihren Kurs!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-11" data-toggle="collapse" role="button"
                             data-target="#collapse-2-11" aria-expanded="false" aria-controls="collapse-2-11">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Abdaurrahman Z.</h2>
                        </div>
                        <div id="collapse-2-11" class="collapse" aria-labelledby="heading-2-11"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Liebe Frau Sölch!
                                    Ich habe viele neue Lernstrategien gelernt. Vielen Dank für Ihre Bemühungen und
                                    Unterstützung.
                                    Liebe Grüße Abdaurrahman Z.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-12" data-toggle="collapse" role="button"
                             data-target="#collapse-2-12" aria-expanded="false" aria-controls="collapse-2-12">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Ronella</h2>
                        </div>
                        <div id="collapse-2-12" class="collapse" aria-labelledby="heading-2-9"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Liebe Susi!
                                    Mir dir Hausaufgaben und Mathe zu lernen macht mir echt sehr viel Spaß! Mathe ist
                                    jetzt mein Lieblingsfach.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-13" data-toggle="collapse" role="button"
                             data-target="#collapse-2-13" aria-expanded="false" aria-controls="collapse-2-13">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Sabirin</h2>
                        </div>
                        <div id="collapse-2-13" class="collapse" aria-labelledby="heading-2-13"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe jetzt mehr Mut!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-14" data-toggle="collapse" role="button"
                             data-target="#collapse-2-14" aria-expanded="false" aria-controls="collapse-2-14">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Julia</h2>
                        </div>
                        <div id="collapse-2-14" class="collapse" aria-labelledby="heading-2-14"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Mir ist aufgefallen, dass ich bessere Noten bekommen habe und ich fand es schön,
                                    dass du so nett warst.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-15" data-toggle="collapse" role="button"
                             data-target="#collapse-2-15" aria-expanded="false" aria-controls="collapse-2-15">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Mia</h2>
                        </div>
                        <div id="collapse-2-15" class="collapse" aria-labelledby="heading-2-15"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Habe mehr Mut! Fühle mich besser als sonst. Habe bessere Noten. Ich konzentriere
                                    mich besser. Es hat mir sehr gut gefallen. Ich lerne jetzt besser!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-16" data-toggle="collapse" role="button"
                             data-target="#collapse-2-16" aria-expanded="false" aria-controls="collapse-2-16">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Lia</h2>
                        </div>
                        <div id="collapse-2-16" class="collapse" aria-labelledby="heading-2-16"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Ich habe mich zu 50 % verbessert und verändert. Mir hat alles gut gefallen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-17" data-toggle="collapse" role="button"
                             data-target="#collapse-2-17" aria-expanded="false" aria-controls="collapse-2-17">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Khaled</h2>
                        </div>
                        <div id="collapse-2-17" class="collapse" aria-labelledby="heading-2-17"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Es hat mir viel Spaß gemacht und ich habe jetzt mehr Lernstrategien.
                                </p>
                            </div>
                        </div>
                    </div>
                     <div class="card bg-primary text-white">
                        <div class="card-header py-4" id="heading-2-18" data-toggle="collapse" role="button"
                             data-target="#collapse-2-18" aria-expanded="false" aria-controls="collapse-2-18">
                            <h2 class="h6 mb-0 text-white"><i data-feather="sun" class="mr-3"></i>Keine Namensangabe</h2>
                        </div>
                        <div id="collapse-2-18" class="collapse" aria-labelledby="heading-2-18"
                             data-parent="#accordion-2">
                            <div class="card-body">
                                <p class="text-white">
                                    Danke Susi! Durch dich habe ich viel dazu gelernt. Wie man sich konzentrieren kann. Es hat mir sehr viel Spaß gemacht.
                                </p>
                            </div>
                        </div>
                    </div>
                    {% include 'partials/review-2.html' with number=19 name="Luisa, 6. Klasse, Gymnasium" text="Bei mir hat das Einzelcoaching sehr viel verändert. Ich schreibe jetzt in Latein die Noten 1 und 2 und in Mathe hatte ich in der letzten Probe eine 3." %}
                    {% include 'partials/review-2.html' with number=20 name="Keine Namensangabe" text="Mir hat in deinem Kurs „Lernen lernen“ alles gefallen, weil wir so viel gelernt haben und am Ende auch noch gespielt haben" %}
                    {% include 'partials/review-2.html' with number=21 name="Keine Namensangabe" text="Ich mochte es hier, weil es sehr viel Spaß gemacht hat und weil ich halt jetzt weiß, wie ich mich besser konzentrieren und wie man besser lernt." %}
                    {% include 'partials/review-2.html' with number=22 name="Lamar 4. Klasse" text="Du bist eine nette Lehrerin" %}
                    {% include 'partials/review-2.html' with number=23 name="Sadik" text="Es war toll, dass du nur für uns da bist und ich habe viel mitgenommen. Wow, ich habe was gelernt. Vielen Dank Susi" %}
                    {% include 'partials/review-2.html' with number=24 name="Keine Namensangabe" text="Ich kann jetzt mein Gehirn besser nutzen." %}
                    {% include 'partials/review-2.html' with number=25 name="Elhama" text="Der Kurs „Lernen lernen“ hat Spaß gemacht mit dir." %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'partials/cta_center.html' %}
{% include 'partials/footer.html' %}
{#% include 'partials/cookie.html' %#}
{% include 'partials/scripts.html' %}
</body>

</html>